.recruiter-shell {
  display: flex;
  height: calc(100% - 64px);
  flex-direction: row;
}

.post-job {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

}
.title {
  font-size: 60px;
  height: 50px;
}

.description {
  color: gray;
  font-size: 18px;
}


.postjob {
  color: #2557ae;
  align-self: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

}

.recuter-shell-signedIn {
  display: flex;
  flex-direction: row;
  height: calc(100% - 64px);
  background-color:  #f3f2f1;
}

.job-list {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0px 20px;
}
.job-detail {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

::ng-deep .mat-form-field-prefix {
  top: 0 !important;
  font-weight: bold;
  padding-right: 10px;
}
::ng-deep .mat-form-field-suffix {
  color: gray;
}
