<div class="recruiter-shell" *ngIf="!whatWillShow" [ngClass]="{'recruiter-shell-small': isSmall}" >
  <div class="post-job"  [ngClass]="{'post-job-small': isSmall}" >
    <div class="title">
      You're here to hire.
    </div>
    <div class="title">
         We're here to help.
    </div>
    <div class="description">Post your job, interview candidates, </div>
    <div class="description">  and make offers all on Punekom. Start hiring today.</div>

    <div class="postjob" (click)="gotopostjob()"> Post a Job as Recruiter </div>
  </div>
  <div class="image"  *ngIf="!isSmall">
     <img src="assets/background.PNG" width="70%">
  </div>
</div>

<div class="recuter-shell-signedIn" *ngIf="whatWillShow">

  <div class="job-list" [ngClass]="{'job-list-small': isSmall}" >
    <app-job-list  [height1]="height"></app-job-list>
  </div>

  <div class="job-detail" *ngIf="!Editmode && !isSmall">
    <app-job-poster [height]="height"></app-job-poster>
  </div>

  <div class="job-detail" *ngIf="Editmode && !isSmall">
    <app-job-editer [height]="height"></app-job-editer>
  </div>

</div>
