<div class="recruiter-shell" *ngIf="!whatWillShow">
  <div class="post-job">
    <div class="title">
      You're here to hire.
    </div>
    <div class="title">
         We're here to help.
    </div>
    <div class="description">Post your job, interview candidates, </div>
    <div class="description">  and make offers all on Indeed. Start hiring today.</div>
    <div class="postjob"> Post a Job as Recruiter </div>
  </div>
  <div class="image">
     <img src="assets/background.PNG" width="70%">
  </div>
</div>


<div class="recuter-shell-signedIn" *ngIf="whatWillShow">
  <div class="job-list">
  </div>
  <div class="job-detail">
    <app-job-poster [height]="height" ></app-job-poster>
  </div>
</div>
