.flex-it {
  display: flex;
  flex-direction: column;
  background-size: cover;
  max-height: 100%;

}
.mat-elevation-z8 {
  max-height: 100%;
  overflow-y: auto;
}
table {
  width: 100%;
}
th{
  color: #2557a7;
  font-size: 14px;
}
.mat-button {
  background-color:  #2557a7;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.mat-button:hover{
  background-color: lightgray;
  color: black;
}
