<div class="flex-it">
  <mat-card class="signup-form">

    <form [formGroup] ='signupForm' class="form-group">

<!--      <img src="../../../../assets/background-images/tomato.png" width="40"-->
<!--           style="margin-right: 15px">-->

      <mat-card-header> <label>Regjistrohu</label></mat-card-header>

      <div>

        <mat-form-field>

          <input
            matInput
            type="text"
            id="username"
            formControlName="username"
            class="form-control"
            placeholder="Emri"
          />

          <mat-error
            *ngIf="
             signupForm.controls['username'].touched &&
              signupForm.controls['username'].hasError('doesNotMatchPattern')
            "
          >Username can only contain letters, numbers and
            underscores</mat-error
          >
          <mat-error *ngIf="signupForm.get('username')?.hasError('required')"
          >Username is required!</mat-error
          >
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="E-mail"
          />
          <mat-error *ngIf="signupForm.get('email')?.hasError('required')"
          >Email is required!</mat-error
          >
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Fjalekalimi"
          />
          <mat-error *ngIf="signupForm.get('password')?.hasError('required')"
          >Password is required!</mat-error
          >
          <mat-error
            *ngIf="
              signupForm.controls['password'].touched &&
              signupForm.controls['password'].hasError('minlength')
            "
          >Password needs to be at least 8 characters</mat-error
          >
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="password"
            id="cpassword"
            formControlName="cpassword"
            class="form-control"
            placeholder="Konfirmo Fjalekalimin"
          />
        </mat-form-field>
      </div>

      <div>


          <mat-form-field class="inputs">
            <mat-label>Zgjidh rolin</mat-label>
            <mat-select formControlName="role">
              <mat-option value="job-seeker">Punemarres</mat-option>
              <mat-option value="recuiter">Punedhenes</mat-option>
            </mat-select>
          </mat-form-field>

      </div>

      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="
          onClick(
            signupForm.get('email')?.value,
            signupForm.get('username')?.value
          )
        "
        [disabled]="!signupForm.valid"
      >
        Regjistrohu
      </button>
    </form>


    <mat-error *ngIf="!emailUnique" class="post-click-error">
      There exists an account with this email!</mat-error>

    <mat-error *ngIf="!usernameUnique" class="post-click-error">
      There exists an account with ths username!</mat-error>

    <a [routerLink]="['/login']">Ke nje llogari? Identifikohu</a>

  </mat-card>

</div>


