.job-list {
  padding:20px 20px;
  display: flex;
  flex-direction: column;
}
mat-card-content {
  max-height:60vh;
  overflow-y: auto;
}
.mat-card-subtitle {
  margin-bottom: 0px;
}
mat-card-actions {
  margin-left: 0px;
}
mat-divider {
  margin: 10px 0px !important;
}
button {
  background-color: #2557a7;
  color: white;
  bottom: 7px;
}

button:hover {
background-color:#2557ae;
}

#icon, #icon1 {
  color: red;
  background-color: white;


}
#icon:hover, #icon1:hover{
cursor: pointer;
}

