<mat-toolbar>
  <span> <img src="assets/01.jpg" width="65%" alt=""/></span>

  <span class="example-spacer"></span>
    <button mat-icon-button *ngIf="isLoggedIn">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button *ngIf="isLoggedIn" >
      <mat-icon> chat</mat-icon>
    </button>
  <button mat-button *ngIf="isLoggedIn">
    {{username}}
  </button>
  <div class="signin" (click)="signIn()" > {{signinOR}}</div>
  <div class="vertical"></div>
  <div class="roleChoose" (click)="recruiterPage()"> Post a Job </div>
</mat-toolbar>
