<div class="shell">
  <div class="filter-job">
    <div class="inputContainers">

      <mat-form-field appearance="outline" >
        <mat-icon matSuffix>search</mat-icon>
        <p matPrefix > What </p>
        <input autocomplete="off" matInput formControlName="searchInput" placeholder="Job Title, keywords or company" >
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-icon matSuffix>place</mat-icon>
        <p matPrefix > Where </p>
        <input autocomplete="off" matInput formControlName="searchInput" placeholder="Address" >
      </mat-form-field>

      <button mat-button> Search</button>
    </div>
 </div>
  </div>
