<div class="flex-it" [style.height.%]="height">
  <mat-card class="signup-form">
    <form [formGroup] ='userForm' class="form-group">
      <mat-card-header> <label>MY PROFILE</label> </mat-card-header>

      <div>
        <mat-form-field>
          <input matInput type="text" id="username" formControlName="username" class="form-control"
                 placeholder="Username"/>
          <mat-error *ngIf="userForm.get('username')?.hasError('required')"> Username is required!</mat-error>
        </mat-form-field>
      </div>

      <button type="button" mat-raised-button color="primary"
              (click)="onClick()" [disabled]="!userForm.valid"> Edit
      </button>
    </form>
  </mat-card>
</div>
